---
title: Benjamedia
event: ACLA 2014 
date: 2014-5-15
presenter: Yeehaa
layout: 'presentation'
isPresentation: true
description: >
  Ha dgjkgshkghksdkreyio;hjyler
  ewhjkthqhtkl
  erhyhjkgk egrioyui y3r 3ryuioryeuyr h3r3troi34t
  hhohw a dghjksdf kgheklereil;y yoruy hr yoyu
  erhiwyjlyhjl oreyuipyerwi yreioury eyeruio ryeo weh
---

{{#each presentations.benjamedia.slides }}
<section class="card step slide {{type}} {{>slideSection}}" 
         id="{{parameterize title}}" 
         data-x="{{position @index}}">
  <header>
    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2>{{subtitle}}</h2>
    {{/if}}
    {{#if section-title}}
    <h2>{{section-title}}</h2>
    {{/if}}
  </header>
  <section>
    {{{ contentRenderedWithoutLayouts }}}
  </section>
</section>
{{/each}}
