---
title: 'Learn'
layout: 'default'
isPage: true
---
{{#each learnResources }}
  <section class="card resource level-{{difficulty_level}}">
    <header class="card-header">
      <h1>{{name}}<span> - Level {{difficulty_level}}</span></h1>
    </header>
    <section class="card-content">
      <table>
        {{#each resources}}
          <tr>
            <th colspan="3">{{@key}}</th>
          <tr>
          {{#each this}}
            <tr>
              <td><a href="{{url}}">{{title}}</a></td>
              {{#if author}}
                <td><a href="{{author.url}}">{{author.name}}</a></td>
              {{/if}}
              {{#if site}}
                <td colspan="2"><a href="{{site.url}}">{{site.name}}</a></td>
              {{else}}
                <td><a href="{{publisher.url}}">{{publisher.name}}</a></td>
              {{/if}}
            </tr>
          {{/each}}
        {{/each}}
      </table>
    </section>
  </section>
{{/each}}
