---
title: Augmenting Masterpieces
event: Augmenting Masterpieces Kick-off 
date: 2014-1-17
presenter: 
  - Yeehaa
layout: 'presentation'
isPresentation: true
description: >
  Augmenting Masterpieces uses a human-centered approach to link digital 
  interfaces to the physical museum visit. Its aim is to map the connections 
  between the physcial and the digital collection of The Rijksmuseum Amsterdam, 
  and to theoretically and practically investigate interfaces and features for 
  visitors which could be used in the museum. This presentation explores the
  role of code and humanities within this project.
---

{{#each presentations.rijksKickOff.slides }}
<section class="card step slide {{type}} {{>slideSection}}" 
         id="{{parameterize title}}" 
         data-x="{{position @index}}">
  <header>
    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2>{{subtitle}}</h2>
    {{/if}}
    {{#if section-title}}
    <h2>{{section-title}}</h2>
    {{/if}}
  </header>
  <section>
    {{{ contentRenderedWithoutLayouts }}}
  </section>
</section>
{{/each}}
