---
title: "slideshow"
layout: 'default'
isPage: true
---

<div class="slides impress-not-supported">

  <div id="impress">
    {{#each presentationThatCamp}}
    <section class="card step slide {{type}}" id="{{parameterize title}}" data-x="{{position @index}}">
      <header>
        {{#if section-title }}
          <h1>{{section-title}}</h1>
        {{else}}
          <h1>{{title}}</h1>
        {{/if}}
        {{#if subtitle}}
          <h2>{{subtitle}}</h2>
        {{/if}}
      </header>
      <section>
        {{{ contentRenderedWithoutLayouts }}}
      </section>
    </section>
    {{/each}}
  </div>
  {{{ getBlock "scripts" "./vendor/jquery.js" }}}
  {{{ getBlock "scripts" "./vendor/impress.js" }}}
  {{{ getBlock "scripts" "./scripts/slideshow.js" }}}

</div>
