---
title: "Reading Jonathan Sterne"
event: Sound Signatures
date: 2014-1-15
presenter: Yeehaa
layout: 'presentation'
isPresentation: true
description: >
  "Eliminate redundancies! Reduce bandwidth use! Travel great distances 
  frequently and with little effort! Accumulate on the hard drives of the 
  middle class! Address a distracted listening subject!" In his essay 'MP3 as 
  a Cultural Artifact', Jonathan Sterne describes all the imperatives that the 
  MP3 format implicitly imposes on its listeners. This presentation, takes 
  this inventory as a starting point to debunk the myth of the harmless, 
  descriptive image of data altogether.
---

{{#each presentations.soundSignatures.slides }}
<section class="card step slide {{type}} {{>slideSection}}" 
         id="{{parameterize title}}" 
         data-x="{{position @index}}">
  <header>
    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2>{{subtitle}}</h2>
    {{/if}}
    {{#if section-title}}
    <h2>{{section-title}}</h2>
    {{/if}}
  </header>
  <section>
    {{{ contentRenderedWithoutLayouts }}}
  </section>
</section>
{{/each}}
