---
title: Coding the Humanities
event: ThatCamp
location: The Hague
date: 2014-1-14
presenters:
  - Yeehaa
  - Marijn
layout: presentation
isPresentation: true
description: >
  Scholars in the humanities use a wide range of specialized tools, each of which 
  only covers a small part of their research. Coding, on the other hand, is a 
  toolmaking tool. It gives you the power to write precise instruments that can 
  cover your entire workflow. In this workshop, we teach humanists how to build 
  custom tools or adjust existing ones to their specific needs.
---

{{#each presentations.thatCamp.slides}}
<section class="card step slide {{type}} {{#if section}}section{{section}}{{/if}}" id="{{parameterize title}}" data-x="{{position @index}}">
  <header>
    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2>{{subtitle}}</h2>
    {{/if}}
    {{#if section-title}}
    <h2>{{section-title}}</h2>
    {{/if}}
  </header>
  <section>
    {{{ contentRenderedWithoutLayouts }}}
  </section>
</section>
{{/each}}
