---
title: Towards A Platform
event: Dark Horse meets Coding the Humanities
date: 2014-4-14
presenter: 
  - Yeehaa
layout: 'presentation'
isPresentation: true
description: >
  Coding the Humanities aims to be much more than just a programming course.
  It is a collaborative on- and offline platform for research and education.
  This platform, however, does not allow students and scholars to work 
  together. It also allows for more productive partnerships between 
  universities and private and public partners. This presentation sketches
  the dillemas, choices, and possibilities that such partnerships within the
  scope of Coding the Humanities entail.
---

{{#each presentations.darkHorse.slides }}
<section class="card step slide {{type}} {{>slideSection}}" 
         id="{{parameterize title}}" 
         data-x="{{position @index}}">
  <header>
    <h1>{{title}}</h1>
    {{#if subtitle}}
    <h2>{{subtitle}}</h2>
    {{/if}}
    {{#if section-title}}
    <h2>{{section-title}}</h2>
    {{/if}}
  </header>
  <section>
    {{{ contentRenderedWithoutLayouts }}}
  </section>
</section>
{{/each}}
