---
title: 'Vision'
layout: 'default'
isPage: true
---
<nav class="sidebar">
  <ul class="menu">
    {{#each pages.data.visionSnippets}}
    <a href="#{{ parameterize title }}"><li>{{title}}</li></a>
    {{/each}}
  </ul>
</nav>
<section class="content">
  {{#each pages.data.visionSnippets }}
  <section id="{{parameterize title}}" class="card snippet">
    <header>
      <h1>{{title}}</h1>
    </header>
    <section>
      {{{ contentRenderedWithoutLayouts }}}
    </section>
  </section>
  {{/each}}
</section>
